<div>
  <app-top-nav></app-top-nav>
</div>
<div *ngFor="let image of images">
  <div class="card mb-3 mt-0">
    <div class="row no-gutters">
      <div class="col-md-6" style="max-width: 500px; max-height: 400px;">
        <img [src]="image" class="card-img" alt="image" />
      </div>
      <div class="col-md-6 m-auto">
        <div class="card-body">
          <p>We take care of all the things!</p>
          <h1
            class="card-title"
            style="font-family: lust,Helvetica Neue,Helvetica,Arial,sans-serif;"
          >
            Vaaroho
          </h1>
          <p
            class="card-text"
            style="font-family: Work Sans,Helvetica Neue,Helvetica,Arial,sans-serif;"
          >
            We are an event, design, planning and creative consulting company
            specializing in customized experiences for our clients and their
            guests.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6" style="align-items: center;">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div style="margin:auto;">
        <h5 class="card-title">Wedding Management</h5>
        <p class="card-text">
          We are dedicated to creating a stress free and enjoyable planning
          process to create bespoke events, filled with the biggest dreams and
          the tiniest details.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div style="margin:auto;">
        <h5 class="card-title">Pre Wedding Photography</h5>
        <p class="card-text">
          If you’re planning a Celebration in the city, it has never been easier
          with Varaaroho. With the unforgettable history and culture surrounding
          the city your celebration will be one to remember, whether it’s a
          special birthday party or even a business conference.
        </p>
      </div>
    </div>
  </div>
</div>

<app-carousel></app-carousel>
