<div>
  <app-top-nav></app-top-nav>
</div>
<div *ngFor="let image of images">
  <div class="card mb-3 mt-0">
    <div class="row no-gutters">
      <div class="col-md-6" style="max-width: 500px; max-height: 400px;">
        <img [src]="image" class="card-img" alt="image" />
      </div>
      <div class="col-md-6 m-auto">
        <div class="card-body">
          <p>We take care of all the things!</p>
          <h1
            class="card-title"
            style="font-family: lust,Helvetica Neue,Helvetica,Arial,sans-serif;"
          >
            Vaaroho
          </h1>
          <p
            class="card-text"
            style="font-family: Work Sans,Helvetica Neue,Helvetica,Arial,sans-serif;"
          >
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6" style="align-items: center;">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div style="margin:auto;">
        <h5 class="card-title">Wedding Management</h5>
        <p class="card-text">
          Eleonora’s goal is to leave your guests satisfied with the beauty of
          Venice and the event you put together.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div style="margin:auto;">
        <h5 class="card-title">Pre Wedding Photography</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>
</div>

<app-carousel></app-carousel>
